@-moz-document domain("discordapp.com") {

    /* Left-side column */
    .wrapper-1Rf91z {
        width: 24%;
    }

    /* Left-side column content */
    .scrollerWrap-1IAIlv {
        width: 100%;
    }

    /* Server divs */
    .container-2td-dC,
    .dragPlaceholder-D9-haY,
	.guildsErrorContainer-2uWYsE {
        display: inline-flex;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        vertical-align: bottom;
    }

    /* Remove download and search buttons */
    .downloadAppButton-3FZHkU,
    .container-11WMXy {
        display: none;
    }
}